<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add New Fact!</h1>
        <p>If you have some fun animal facts you'd like to share, please submit them! We may use them in the future.</p>
        <form action="" method="post">
            <label for="submitter">Name:</label>
            <br/>
            <input type="text" id="submitter" name="submitter">
            <br/>
            <label for="fact">Fact:</label>
            <br/>
            <textarea id="fact" name="fact"></textarea>
            <br/>
            <input type="submit" value="Submit Fact">
        </form>
        <a href="/pets">&lt; Go Back</a>
    </div>
</body>
</html>